@page
@model ChatModel
@{
	ViewData["Title"] = "Chat";
}

@using ZokuChat.Helpers
@using ZokuChat.Models
@using ZokuChat.Services
@inject Context Context
@inject IUserService UserService

<div id="chat-app" class="chat-container">
	<div class="chat-header">
		<a class="float-left" href="@UrlHelper.GetEnterRoomUrl(Model.Room.Id)">@Model.Room.Name</a>
		<a class="float-right" href="@UrlHelper.GetRoomsUrl()">Exit Room</a>
	</div>
	<div class="chat-content">
		<div id="messages-container" class="chat-messages">
			<div v-for="message in messages">
				<span :class="{ 'text-creator' : window.ZokuChat.chat.room.creatorId == message.userId, 'text-contact' : window.ZokuChat.chat.room.creatorId != message.userId }">
					{{ message.userName }}:
				</span>
				<span v-if="!message.isDeleted"> 
					{{ ` ${message.text}` }}
				</span>
				<span v-if="message.isDeleted" class="text-error" :title="`Deleted by ${message.modifiedUserName}`">
					{{ ' [ deleted ]' }}
				</span>
				<div v-if="!message.isDeleted && canDeleteMessage(message)"
					 @@mouseover="message.showActionMenu = true"
					 @@mouseout="message.showActionMenu = false"
					 class="message-action-menu text-creator">
					<b>+</b>
					<div v-if="message.showActionMenu" class="message-action-options">
						<span v-on:click="deleteMessage(message); message.showActionMenu = false;">Delete</span>
					</div>
				</div>
			</div>
		</div>
		<div class="chat-sidebar">
			<div class="text-creator">
				@UserService.GetUserNameByUID(Model.Room.CreatedUID)
			</div>
			@foreach (RoomContact contact in Model.Room.Contacts)
			{
				<div class="text-contact">
					@UserService.GetUserNameByUID(contact.ContactUID)
				</div>
			}
		</div>
	</div>
	<div class="chat-footer">
		<div class="input-group">
			<input id="message-input" 
				   pattern=".{1,2000}"
				   placeholder="Enter a message"
				   class="form-control"
				   @@keydown.enter="sendButtonClick();"
				   required />
			<div class="input-group-append">
				<input id="send-message" class="btn btn-primary" @@click="sendButtonClick();" required type="submit" value="Send" />
			</div>
		</div>
	</div>
</div>

@section Scripts {
	<partial name="_ChatScriptsPartial" />
	<script>
		window.ZokuChat.chat.room = new Room(@Model.Room.Id, '@Model.Room.CreatedUID', '@Context.CurrentUser.Id');
		app.init();
	</script>
}