@page
@model ChatModel
@{
	ViewData["Title"] = "Chat";
}

@using ZokuChat.Helpers
@using ZokuChat.Models
@using ZokuChat.Services
@inject Context Context
@inject IUserService UserService

<div id="chat-app" class="chat-container">
	<div class="chat-header">
		<a class="float-left" href="@UrlHelper.GetEnterRoomUrl(Model.Room.Id)">@Model.Room.Name</a>
		<a class="float-right" href="@UrlHelper.GetRoomsUrl()">Exit Room</a>
	</div>
	<div class="chat-content">
		<div id="messages-container" class="chat-messages">
			<div v-for="message in messages">
				<span :class="{ 'text-creator' : window.ZokuChat.chat.room.creatorId == message.userId, 'text-contact' : window.ZokuChat.chat.room.creatorId != message.userId }">
					{{ message.userName }}
				</span>
				<span>
					: {{ message.text }}
				</span>
			</div>
		</div>
		<div class="chat-sidebar">
			<div class="text-creator">
				@UserService.GetUserNameByUID(Model.Room.CreatedUID)
			</div>
			@foreach (RoomContact contact in Model.Room.Contacts)
			{
				<div class="text-contact">
					@UserService.GetUserNameByUID(contact.ContactUID)
				</div>
			}
		</div>
	</div>
	<div class="chat-footer">
		<div class="input-group">
			<input id="message-input" required pattern=".{1,2000}" placeholder="Enter a message" class="form-control" />
			<div class="input-group-append">
				<input id="send-message" class="btn btn-primary" onclick="sendButtonClick();" required type="submit" value="Send" />
			</div>
		</div>
	</div>
</div>

@section Scripts {
	<partial name="_ChatScriptsPartial" />
	<script>
		window.ZokuChat.chat.room = new Room(@Model.Room.Id, '@Model.Room.CreatedUID', '@Context.CurrentUser.Id');
		app.init();

		function sendButtonClick() {
			if ($('#message-input').val().length > 0) {
				app.sendMessage($('#message-input').val());
				$('#message-input').val('');
			}
		}
	</script>
}