@page
@model ChatModel
@{
	ViewData["Title"] = "Chat";
}

@using ZokuChat.Helpers
@using ZokuChat.Models
@using ZokuChat.Services
@inject Context Context
@inject IUserService UserService

<div class="chat-container">
	<div class="chat-header">
		<a class="float-left" href="@UrlHelper.GetEnterRoomUrl(Model.Room.Id)">@Model.Room.Name</a>
		<a class="float-right" href="@UrlHelper.GetRoomsUrl()">Exit Room</a>
	</div>
	<div class="chat-content">
		<div class="chat-messages">		
		</div>
		<div class="chat-sidebar">
			<div class="text-creator">
				@UserService.GetUserNameByUID(Model.Room.CreatedUID)
			</div>
			@foreach (RoomContact contact in Model.Room.Contacts)
			{
			<div class="text-contact">
				@UserService.GetUserNameByUID(contact.ContactUID)
			</div>
			}
		</div>
	</div>
	<div class="chat-footer">
		<div class="input-group">
			<input id="message-input" placeholder="Enter a message" class="form-control" />
			<div class="input-group-append">
				<input class="btn btn-primary" type="submit" value="Send" />
			</div>
		</div>
	</div>
</div>

@section Scripts {
	<partial name="_ChatHubScriptsPartial" />
	<script>
		roomId = @Model.Room.Id;
		creatorId = '@Model.Room.CreatedUID';
		currentUserId = '@Context.CurrentUser.Id';
	</script>
}